html {
    background-color: ; /*#f8f8f8*/
}

body {
    font-family: 'Fredoka', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.25;
}
.hertog-jan-rectangle {
    width: 200px;
    height: 200px;
    background-color: snow;
}

img {
    border-radius: 20px;
}
